.list {
  margin-top: 20px;

  @media (max-width: 560px) {
    margin-top: 115px;
  }

  .button {
    width: 100%;
    height: 60px;
    margin: 20px 0 60px 0;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 10px;
    font-family: "Open Sans";
    font-size: 16px;
    background-color: rgb(33,150,243);
    color: white;
    text-transform: uppercase;
  }
}
