@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: rgb(243,247,250);

  h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
}